<app-navbar></app-navbar>

<div class="container-fluid mx-3 mt-5">
  <h2>Lista de Productos</h2>

  <form class="row mx-2">
    <div class="form-group form-inline col-12 col-md-8">
      Buscar: <input class="form-control" type="text" [formControl]="filter" />
    </div>
    <div class="form-group form-inline col-6 col-md-2 pb-3">
      <button
        type="button"
        ngbAutofocus
        (click)="openModal(contenido)"
        class="form-control mt-4 btn btn-primary"
      >
        Nuevo Producto
      </button>
    </div>
    <div class="form-group form-inline col-6 col-md-2 pb-3">
      <button
        type="button"
        ngbAutofocus
        (click)="descargarCSV()"
        class="form-control mt-4 btn btn-primary"
      >
        Exportar Excel
      </button>
    </div>
  </form>
  <div style="height: 70%; overflow: scroll">
    <table class="table table-striped" aria-label="">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cod Corto</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio Venta</th>
          <th scope="col">Precio Compra</th>
          <th scope="col">Stock</th>
          <th scope="col">Promo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos$ | async; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.codigo_corto }}</td>
          <td>{{ producto.descripcion }}</td>
          <td class="d-flex justify-content-center align-items-center">
            <div class="btn-group" dropdown placement="bottom right">
              <button id="button-alignment" dropdownToggle type="button" class="btn btn-link btn-sm dropdown-toggle " aria-controls="dropdown-alignment">
                <i class="fas fa-bars"></i><span class="caret"></span>
              </button>
              <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="button-alignment">
                <li *ngFor="let precio of producto.preciosDia" role="menuitem">
                  <a class="dropdown-item" href="#">{{ precio.dia }}: {{ precio.precio | number }} </a>
                </li>
              </ul>
            </div>
          </td>
          <td>{{ producto.precioCompra|number }}</td>
          <td>{{ producto.cantidadStock|number }}</td>
          <td>{{ producto.precio_promocion|number }}</td>
          <td>
            <button class="btn btn-success btn-sm" (click)="editarProducto(producto, contenido)">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #contenido let-modal>
    <form [formGroup]="productoForm" (submit)="guardarProducto()">
      <div class="modal-content">
        <div class="modal-header">
          <h4 *ngIf="!editState" class="modal-title">Nuevo Producto</h4>
          <h4 *ngIf="editState" class="modal-title">Editar Producto</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-6">
              <label for="nombre">Nombre:</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                formControlName="nombre"
                required
              />
            </div>
            <div class="form-group col-3">
              <label for="codigo_corto">Cod Corto:</label>
              <input
                type="text"
                class="form-control"
                id="codigo_corto"
                formControlName="codigo_corto"
                required
              />
            </div>
            <div class="form-group col-md-3">
              <label for="stockMinimo">Stock Mín:</label>
              <input
                type="number"
                class="form-control"
                id="stockMinimo"
                formControlName="stockMinimo"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea
              class="form-control"
              id="descripcion"
              formControlName="descripcion"
              required
            ></textarea>
          </div>
          <div class="form-group mt-1 form-inline">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="insumos"
                formControlName="insumos"
              />
              <label class="form-check-label" for="insumos">
                ¿Necesita Insumo?
              </label>
            </div>
          </div>
          <div *ngIf="productoForm.get('insumos')?.value">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="codigoInsumo">Código de Insumo:</label>
                <select class="form-control" formControlName="codigoInsumo">
                  <option value="">Selecciona un producto</option>
                  <ng-container *ngFor="let producto of productos">
                    <option *ngIf="producto.estado === 'activo' && producto.precioVenta > 0" [value]="producto.id">
                      {{ producto.nombre }}
                    </option>
                  </ng-container>
                </select>

              </div>
              <div class="form-group col-md-3">
                <label for="cantidadInsumo">Precio Venta:</label>
                <input
                  type="number"
                  class="form-control"
                  id="codigoInsumo"
                  formControlName="precioVenta"
                />
              </div>
              <div class="form-group col-md-3">
                <label for="cantidadInsumo">Cant. Insumo:</label>
                <input
                  type="number"
                  class="form-control"
                  id="cantidadInsumo"
                  formControlName="cantidadInsumo"
                />
              </div>
            </div>
          </div>

          Estado Producto:&ensp;
          <div class="form-check form-check-inline mt-2">
            <input
              class="form-check-input"
              type="radio"
              id="estadoActivo"
              value="activo"
              formControlName="estado"
              checked
            />
            <label class="form-check-label" for="estadoActivo"> Activo </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="estadoInactivo"
              value="inactivo"
              formControlName="estado"
            />
            <label class="form-check-label" for="estadoInactivo">
              Inactivo
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            [disabled]="!productoForm.valid"
            class="btn btn-primary"
          >
            Guardar
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="modalRef.hide()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </form>
  </ng-template>
</div>
