<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/img/llave.png" alt="Login">   
    <h1>Registro Usuario</h1>
    <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
            <label>Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
            <label>Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" formControlName="repetirPassword" placeholder="Password">
            <label>Repetir Password</label>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-info btn-lg mb-3" type="submit">Aceptar</button>
          </div>
          <a  routerLink="/login">Volver</a>
    </form>
    </div>
</div>
