
<app-navbar></app-navbar>
<div class="container mt-5">
  <h2>Total de Ventas por Vendedor</h2>
  <table class="table table-bordered table-striped">
    <thead class="bg-primary text-white">
      <tr>
        <th scope="col">Vendedor</th>
        <th scope="col">Método de Pago</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vendedor of totalVentasPorVendedor">
        <td>{{ vendedor.nombre_vendedor }}</td>
        <td>
          <ul>
            <li *ngFor="let metodoPago of vendedor.metodosPago">
              {{ metodoPago.metodo }}
            </li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let metodoPago of vendedor.metodosPago">
              {{ metodoPago.total | currency: 'USD':'symbol':'1.2-2' }}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Total de Ventas por Método de Pago</h2>
  <table class="table table-bordered table-striped">
    <thead class="bg-success text-white">
      <tr>
        <th scope="col">Método de Pago</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let metodoPago of totalVentasPorMetodoPago">
        <td>{{ metodoPago.metodo }}</td>
        <td>{{ metodoPago.total | currency: 'USD':'symbol':'1.2-2' }}</td>
      </tr>
      <tr>
        <td><strong>Total General</strong></td>
        <td><strong>{{ calcularTotalGeneralPorMetodoPago() | currency: 'USD':'symbol':'1.2-2' }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>








