<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/img/llave.png" alt="Login">   
    <h1>Recuperar Contraseña</h1>
    <form action="">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" placeholder="name@example.com">
            <label>Email</label>
          </div>
          
          <div class="d-grid gap-2">
            <button class="btn btn-info btn-lg mb-3" type="button">Recuperar</button>
          </div>
          <a  routerLink="login">Volver</a>
    </form>
    </div>
</div>