<div class="container">
  <h2>Ingresar Facturas</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Productos Disponibles</h3>
      <ul class="list-group">
        <!-- Aquí puedes mostrar la lista de productos disponibles -->
        <li *ngFor="let producto of productos" class="list-group-item d-flex justify-content-between align-items-center">
          {{ producto.nombre }}
          <button class="btn btn-primary" (click)="agregarProducto(producto)">Agregar</button>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Productos Seleccionados</h3>
      <!-- Utiliza *ngFor para mostrar los productos seleccionados como cards colapsables -->
      <div class="card shadow mb-1" *ngFor="let productoSeleccionado of productosSeleccionados">
        <div class="card">
          <div class="card-header" (click)="toggleCollapse(productoSeleccionado)">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0">
                <button class="btn text-xs font-weight-bold text-success text-uppercase mb-1" type="button" [attr.aria-expanded]="productoSeleccionado.mostrarDetalles" [attr.aria-controls]="'collapseCard' + productoSeleccionado.id">
                  {{ productoSeleccionado.producto.nombre }}
                </button>
              </h5>
              <button class="btn btn-danger" (click)="eliminarProducto(productoSeleccionado)">Eliminar</button>
            </div>
          </div>
          <div [id]="'collapseCard' + productoSeleccionado.id" [collapse]="productoSeleccionado.mostrarDetalles">
            <div class="card-body">
              <!-- Agrega los campos de cantidad, precio y otros aquí -->
              <form [formGroup]="productoSeleccionado.detalles">
                <div class="form-group">
                  <label for="cantidad">Cantidad:</label>
                  <input type="number" class="form-control" id="cantidad" formControlName="cantidad">
                </div>
                <div class="form-group">
                  <label for="precio">Precio:</label>
                  <input type="number" class="form-control" id="precio" formControlName="precio">
                </div>
                <div class="form-group">
                  <label for="otrosCampos">Otros Campos:</label>
                  <input type="text" class="form-control" id="otrosCampos" formControlName="otrosCampos">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-success mt-3" (click)="guardarMovimientos()">Guardar Movimientos</button>
    </div>
  </div>
</div>
