<app-navbar></app-navbar>
<form [formGroup]="productoForm">
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <h5>Productos Disponibles</h5>
      <form class="row">
        <div class="form-group form-inline col-12">
          Buscar: <input class="form-control" type="text" [formControl]="filter" />
        </div>
      </form>
      <div class="tabla-contenedor">
      <div *ngFor="let producto of productos$ | async" class="my-1">
        <div class="card border-left-success shadow h-100 py-1">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        {{ producto.nombre }}</div>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-primary btn-sm" (click)="seleccionarProducto(producto)">
                    Agregar
                  </button>
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
    </div>
    <div class="col-md-8">
      <div class="card shadow mb-1">
        <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0">{{productoSeleccionado.nombre}}</h5>
              TOTAL FACTURA: ${{totalPrecioCompra|number}}
            </div>
          </div>
          <div class="card-body">
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="precioCompra">Precio de Compra:</label>
                  <input
                    type="number"
                    class="form-control"
                    id="precioCompra"
                    formControlName="precioCompra"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label for="precioVenta">Precio de Venta:</label>
                  <input
                    type="number"
                    class="form-control"
                    id="precioVenta"
                    formControlName="precioVenta"
                  />
                </div>
                <div class="form-group col-md-3">
                  <label for="cantidad">Cantidad:</label>
                  <input
                    type="number"
                    class="form-control"
                    id="cantidad"
                    formControlName="cantidad"
                  />
                </div>
                <div class="form-group col-md-3 mt-3">
                  <button
                class="btn btn-primary mt-2"
                (click)="agregarProductoSeleccionado()"
              >
                Agregar Producto
              </button>
                </div>
              </div>
              <!-- <button
                class="btn btn-secondary mt-2"
                (click)="guardarCambiosProducto()"
              >
                Guardar Cambios
              </button> -->
          </div>
        </div>
      </div>
      <div class="row" *ngIf="productosSeleccionados.length > 0">
        <div class="col-md-12">
          <h6>Productos Seleccionados</h6>
          <!-- Tabla de productos seleccionados -->
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Precio Compra</th>
                <th>Precio Venta</th>
                <th>Cantidad</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productosSeleccionados; let i = index">
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precioCompra |number}}</td>
                <td>{{ producto.precioVenta |number }}</td>
                <td>{{ producto.cantidadIngresada }}</td>
                <td>
                  <!-- <button
                    class="btn btn-warning btn-sm mx-1"
                    (click)="editarProductoSeleccionado(i)"
                  >
                    Editar
                  </button> -->
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="eliminarProductoSeleccionado(i)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <!-- Botón para agregar movimiento de inventario -->
      <div *ngIf="productosSeleccionados.length > 0">
        <div class="row">
        <div class="form-group col-3">
          <label for="facturaNumero">Número de Factura:</label>
          <input
            type="text"
            class="form-control"
            id="facturaNumero"
            formControlName="facturaNumero"
          />
        </div>
        <div class="form-group col-3">
          <label for="medioPago">Medio de Pago:</label>
          <select class="form-control" id="medioPago" formControlName="medioPago">
            <option *ngFor="let medioPago of mediosPago" [value]="medioPago">{{ medioPago }}</option>
          </select>
        </div>

        <div class="form-group col-3">
          <label for="proveedor">Proveedor:</label>
          <select class="form-control" id="proveedor" formControlName="proveedor">
            <option *ngFor="let proveedor of proveedores" [value]="proveedor">{{ proveedor }}</option>
          </select>
        </div>
        <div class="form-group col-3 mt-4">
          <button class="btn btn-primary btn-sm" (click)="agregarMovimientoInventario()">
            Agregar Movimiento
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
