<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/facturar">Facturar</a>
      </li>
      <div class="btn-group" dropdown>
        <a id="button-menu-dividers" dropdownToggle type="button" class="nav-link dropdown-toggle"
                aria-controls="dropdown-menu-dividers">
          Ingresar <span class="caret"></span>
      </a>
        <ul id="dropdown-menu-dividers" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-menu-dividers">
          <li role="menuitem"><a class="dropdown-item" routerLink="/productos">Productos</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/proveedores">Proveedores</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/usuarios">Usuarios</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/ingresarFacturas">Facturas</a></li>

        </ul>
      </div>
      <div class="btn-group" dropdown>
        <a id="button-menu-dividers" dropdownToggle type="button" class="nav-link dropdown-toggle"
                aria-controls="dropdown-menu-dividers">
          Movimientos <span class="caret"></span>
      </a>
        <ul id="dropdown-menu-dividers" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-menu-dividers">
          <li role="menuitem"><a class="dropdown-item" routerLink="/movimientos">Por Fecha</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/ventasTurno">Ventas Turno</a>
          <li role="menuitem"><a class="dropdown-item" routerLink="/cuadrarCaja">Cuadre Caja</a>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
