<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/img/llave.png" alt="Login">   
    <h1>Zampaleste</h1>
    <form (ngSubmit)="login()" [formGroup]="loginUsuario">
        <div class="form-floating mb-3">
            <input type="email" formControlName="email" class="form-control" placeholder="name@example.com">
            <label>Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" formControlName="password" class="form-control" placeholder="Password">
            <label>Password</label>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-info btn-lg mb-3" type="submit">Ingresar</button>
          </div>
          <p class="mb-3">No tienes cuenta? <a routerLink="/registrarUsuario">Registrar</a></p>
          <a  routerLink="/recuperarPassword">Recuperar Contraseña</a>
    </form>
    </div>
</div>
