/* styles.scss o styles.css */
@import '~@fortawesome/fontawesome-free/css/all.css';


/* You can add global styles to this file, and also import other style files */
html, body{
   height: 100%;
}

.wrapper{
   background-color: rgb(193, 146, 255);
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   /* flex-direction: column; */
   }

   .logo{
       height: 130px;
       margin-bottom: 10px;
   }

   .body{
       width: 100%;
       max-width: 400px;
       margin: auto;
       padding: 15px;
       text-align: center;
   }

   .border-left-primary {
    border-left: 0.25rem solid #4e73df!important;
    }

    .border-left-success {
      border-left: 0.25rem solid #1cc88a!important;
  }

  .ajustar{
    display:flex;
    justify-content: space-between;
  }

  .f-10 {
    font-size: 10px; /* Ajusta el tamaño de fuente según tus necesidades */
  }

  .tabla-contenedor {
    max-height: 300px; /* Altura máxima de la tabla con scroll */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
  }

  .quiet-head {
    position: sticky;
    top: 0; /* Encabezados pegajosos en la parte superior */
    background-color: #fff; /* Fondo blanco para ocultar los encabezados debajo */
    z-index: 1; /* Asegura que los encabezados estén en la parte superior */
  }
